.so-widget-sow-button-atom-7fd46069d6a7 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #82c46c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #63b548), color-stop(1, #82c46c));
  background: -ms-linear-gradient(bottom, #63b548, #82c46c);
  background: -moz-linear-gradient(center bottom, #63b548 0%, #82c46c 100%);
  background: -o-linear-gradient(#82c46c, #63b548);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82c46c', endColorstr='#63b548', GradientType=0);
  border: 1px solid;
  border-color: #5daa44 #59a241 #53973d #59a241;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-7fd46069d6a7 .ow-button-base a:visited,
.so-widget-sow-button-atom-7fd46069d6a7 .ow-button-base a:active,
.so-widget-sow-button-atom-7fd46069d6a7 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-7fd46069d6a7 .ow-button-base a.ow-button-hover:hover {
  background: #88c773;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #69b84f), color-stop(1, #88c773));
  background: -ms-linear-gradient(bottom, #69b84f, #88c773);
  background: -moz-linear-gradient(center bottom, #69b84f 0%, #88c773 100%);
  background: -o-linear-gradient(#88c773, #69b84f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88c773', endColorstr='#69b84f', GradientType=0);
  border-color: #61b147 #5daa44 #579f40 #5daa44;
  color: #ffffff;
}